<div class="back">
  <a href="/searchPage"><i class='bx bx-undo'></i></a>
  
</div>
<div class="direct-msg-form">
  <div class="top-section">
    <img src="img/icon.jpg" alt="">
  </div>
  <div class="bottom-section">
    <h1>Display Name</h1>
    <h1>Username</h1>
    <a href="">Profile</a>
    <form action="/directMessage" method="post" id="dmForm">
      <input type="text" placeholder="Message @username" id="directMessageInput" name="massage"/>
      <input type="hidden" name="targetUsername" id="targetUsername" /> 
  </form>
  </div>
</div>
<div class="container">
  

  <div class="book-cover">
    <img alt="Book cover" height="300" src="/<%= bookData.cover.replace('\\', '/') %>" width="200"/>

  </div>
  <div class="book-details">
    <h1><%- bookData.title %></h1>
    <div class="meta">
      <p>
        <span> Type </span>
        : <% bookData.type.forEach((e, index) => { %>
          <a href=""><%- e %></a><%= index < bookData.genre.length - 1 ? ', ' : '' %>
        <% }); %>
      </p>
      <p>
        <span> Genre </span>
        :
        <% bookData.genre.forEach((e, index) => { %>
          <a href=""><%- e %></a><%= index < bookData.genre.length - 1 ? ', ' : '' %>
        <% }); %>
      </p>     
      <p>
        <span> Author </span>
        :
        <a href="#"> <%- bookData.author %> </a>
      </p>
      <p id="owner">
        <span> Owner </span>
        :
        <a href="#"> <%- bookData.owner.username %> </a>
      </p>
    </div>
    <div class="actions">
      <a href="#">
        <i class="fas fa-heart"> </i>
        Wishlist
      </a>
      <a href="#">
        <i class="fas fa-share-alt"> </i>
        Bagikan
      </a>
    </div>
    <div class="description">
      <h2>Book Description</h2>
      <p><%- bookData.description %></p>
    </div>
  </div>
</div>
