
    <main class="container">
        <div class="profile-container">
            <div class="form-add-book">
                <h1>Add Book</h1>
                <form action="/uploadBook" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Title" required name="title"/>
                    <input type="text" placeholder="Author" required name="author"/>
                    <input type="text" placeholder="Genre" required name="genre"/>
                    <input type="text" placeholder="Type" required name="type"/>
                    <textarea placeholder="Description" maxlength="500" required name="description"></textarea>
                    <input type="file" id="file-input" name="coverBook"/>
                    <button type="submit">Add</button>
                </form>
                
            </div>
            <div class="form-edit-book">
                <h1>Edit Book</h1>
                <form action="/editBook?_method=PUT" method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Title" required name="title"/>
                    <input type="text" placeholder="Author" required name="author"/>
                    <input type="text" placeholder="Genre" required name="genre"/>
                    <input type="text" placeholder="Type" required name="type"/>
                    <textarea placeholder="Description" maxlength="500" required name="description"></textarea>
                    <input type="file" id="file-input" name="coverBook"/>
                    <input type="hidden" name="id" />
                    <button type="submit">Edit</button>
                </form>
            </div>
            
            <div class="profile-header">
                <div class="left">
                   <div class="left-top">
                    <img src="<%- user.avatar || 'img/icon.jpg' %>" alt="Profile" />
                    <h1><%- user.displayName || user.username %></h1>
                   </div>
                </div>
                <div class="middle">
                    <h1><i class='bx bx-book-alt'></i> Books : <%- getAllBooks.length %></h1>
                    <h1><i class='bx bx-refresh'></i></i> Total Exchange Success : 50x</h1>
                </div>
                <div class="right">
                    <h1><i class='bx bx-star' ></i> Title : 😎 Exchange Master</h1>
                    <h1><i class='bx bx-user-plus'></i> Badge : 🦚🦚</h1>
                </div>
            </div>
            <div class="profile-content">
                <div class="add-book">
                    <i class='bx bx-plus-circle'></i>
                </div>
                <div class="books">
                    <% if (getAllBooks.length === 0) { %>
                        <p>No books yet</p>
                    <% } else { %>
                        <% getAllBooks.forEach(book => { %>
                            <div class="book">
                                <div class="actions">
                                    <button class="remove" onclick="confirmDelete('<%- book._id %>')"><i class='bx bx-trash-alt'></i></button>
                                    <button class="edit" onclick="editBook('<%- book._id %>', '<%- book.title %>', '<%- book.author %>', '<%- book.genre %>', '<%- book.type %>', '<%- book.description %>')">✏️</button>
                                </div>
                                <a href="details/<%- book._id %>">
                                    <div class="book-img">
                                        <img src="<%- book.cover %>" alt="Book" />
                                    </div>
                                    <div class="book-desc">
                                        <h1><%- book.title %></h1>
                                        <p><%- book.author %></p>
                                    </div>
                                </a>
                            </div>
                            
                        <% }); %>
                    <% } %>
                </div>
                

            </div>
        </div>
    </main>
    