
    <main class="container">
        
        <div class="profile-container">

            <div class="profile-header">
                <div class="left">
                   <div class="left-top">
                    <img src="/<%- findUser.avatar || '/img/icon.jpg' %>" alt="Profile" />
                    <h1><%- findUser.username %></h1>
                   </div>
                    <div class="left-bottom">
                        <a href="javascript:void(0)">Chat</a>
                    </div>
                </div>
                <div class="middle">
                    <h1><i class='bx bx-book-alt'></i> Books : <%- getAllBooks.length %></h1>
                    <h1><i class='bx bx-conversation'></i> Feedback : 100%:</h1>
                </div>
                <div class="right">
                    <h1><i class='bx bx-star' ></i> Ratings : 4.8</h1>
                    <h1><i class='bx bx-user-plus'></i> Joined : 7 years ago</h1>
                </div>
            </div>
            <div class="profile-content">
                <div class="books">
                    <% if (getAllBooks.length === 0) { %>
                        <p>No books yet</p>
                    <% } else { %>
                        <% getAllBooks.forEach(book => { %>
                            <a href="/detailsBook/<%- book._id %>">
                                <div class="book">
                                    <div class="book-img">
                                        <img src="/<%- book.cover %>" alt="Book" />
                                    </div>
                                    <div class="book-desc">
                                        <h1><%- book.title %></h1>
                                        <p><%- book.author %></p>
                                    </div>
                                </div>
                            </a>
                        <% }); %>
                    <% } %>
                </div>
                

            </div>
        </div>
    </main>
    